.list{
    background-color: #EDEDED;
    width: 70%;
    height: 25%;
}

table{
    width: 80%;
    margin: 1rem 2rem;
}


table, th, tr, td{
    border: 1px solid black;
    border-collapse: collapse;
}
a{
    text-decoration: none;
    color: black;
}