.content {
    background-color: #5F9DF7;
}

.title {
    padding-top: 1.5rem;
    margin-left: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.list_background {
    background-color: #EDEDED;
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.list {
    padding: 2rem;
}