.navigation {
    background-color: #FFF7E9;
    margin-top: -1.25rem;
    height: 7rem;
    width: 100%;
}

.cosa {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 3.20rem;
    display: inline-block;
    font-size: 2vw;

}

.teacher {
    margin-left: 7.5vw;
}

.students {
    margin-left: 7.5vw;
}

.nombre {
    margin-left: 5vw;
    font-size: 2vw;
    font-weight: bolder;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.subjects {
    margin-left: 7.5vw;
}

img {
    width: 5%;
    margin-top: -3.5rem;
    margin-left: 1rem;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #555 !important;

}

a:active {
    color: #ffffff !important;
}
